<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:mvc="http://www.springframework.org/schema/mvc"

	xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd   
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd   
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd   
       http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-4.3.xsd   
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd 
       http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd ">

 <!-- 开启默认的控制器(支持静态资源访问) -->
        <mvc:default-servlet-handler/>
        <!-- 开启spring注解支持 -->
        <context:annotation-config/>
        <!-- 
        	指定那些包下面类需要被扫描并被spring管理。
        	类上面有：
	        	@Controller 控制器(controller)
				@Service 	业务对象 (service)
				@Repository 持久层对象(dao)
				@Component  组件(不属于上面三个的对象)
        -->
        <context:component-scan base-package="cn.itsource.springmvc.web.controller"/>
        <!-- 开启spring对mvc的注解支持 -->
        <mvc:annotation-driven/>
        
        <!-- 注册视图解析器，替换系统默认的视图解析器。 -->
	    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
	    	<!-- 视图路径的前缀 -->
		 	<property name="prefix" value="/jsps/" />
		 	<!-- 视图路径的后缀 -->
		 	<property name="suffix" value=".jsp" />
		</bean>

</beans>
